.parent {
    text-align: center;
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: lightpink;
    border: 2px solid black;
    margin-top: 28px;
}
.second-child {
    padding: 15px;
    border: 3px solid rgb(233, 43, 43);
    margin: 15px 30px auto 30px;
    text-align: center;
    background-color: rgb(134, 170, 134);
    color: white;
    
   
} 
.button-one {
       background-color: rgb(240, 241, 148);
       color: white;
       padding: 10px;
       margin-bottom: 5px;
       display: inline-block;
   
}
.button-two {
    padding: 9px;
    
}
.first-child {
    margin-bottom: 36px;
}
.list {
    display: inline-block;
    text-align: left;
}